<div class="row">
   <div class="col-md-8">
     <script type="text/javascript" src="https://api.actionwins.co/click.js"></script>

     <div class="demo-walk">
      <h2>How it works</h2>
      <h4>Just create an account and you'll see a refer-a-friend button show up. Click that link and share with one of your friends</h4>
      <h4>For each person you share with, you'll see your referral count go up by one.</h4>
    </div>

      <h3>About DrivingQ</h3>
      <h4>This is a fictional software product that we created to show you how our referral widget works.</h4>
      <h5>Each day you should ask yourself one critical question that drives you towards reaching your goal.</h5>
      <h5>For Oracle's champion Sailboat raicing team it's "Does this make the boat go faster".</h5>
      <h5>Create your driving question and then provide a list of tasks. If you ask your self your driving question about each task... the answer should be yes.</h5>

      <h5>Use this app to stay focused and motivated. Track your questions and how many of your tasks you achieve each day.</h5>
      <h1>What question is driving you right now?</h1>
      <%= link_to "Get Motivated", new_user_registration_path, class: "btn btn-lg btn-info" %>
   </div>
   <div class="col-md-4">
      <h2>Focus on your goals for this week.</h2>
      <h4> Each day you'll ask your driving question when deciding to spend time on a particilar task. If the answer is yes.. then do the task... if it's no.. find something better to do.</h4>
      <div class="questions-list">
        <h5>Here's what your list might look like:</h5>
            <ul>
              <li>
                <h3><%= link_to "Does this make the boat go faster?", new_user_registration_path %>
                </h3>
             </li>
             <li>
                <h3><%= link_to "Will this help me loose weight?", new_user_registration_path %>
                </h3>
             </li>
             <li>
                <h3><%= link_to "Does this get me more sales?", new_user_registration_path %>
                </h3>
             </li>
              <li>
                <h3><%= link_to "Will this add more subscribers?", new_user_registration_path %>
                </h3>
             </li>
            </ul>
      </div>
   </div>
 </div>
