
<p id="notice"><%= notice %></p>

<h1>What question is driving you right now?</h1>

<%= render 'new' %>


 <!-- <%= link_to 'New Question', new_question_path, class: "btn btn-lg btn-success" %> -->


<h2>My Driving Questions</h2>

  <div class="questions-list">
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </div>
</table>

<br>


