<div class="container">
  <div class="demo-walk">

    <script id="aw-convert-script" type="text/javascript" data-referred="<%= @user.hashed_user %>" src="http://test.api.actionwins.co/convert.js"></script>

    <h2>Success!</h2>
    <p>Go check your referral widget (the one you sent the link from) and you'll see that your referral count wet up by one.</p>

    <p> We use success pages to let you define when a conversion is counted for a referral.</p>
    <p>For example, if you want to only allow a conversion to be triggered when a user pays for
       your porduct, you'd put the conversion script on a success page and then have the user redirected
       to that page after they pay. It's very similar to how google analytics tracking works.</p>
    <p><strong>Make sure to refresh the page to see your referral count update!</strong></p>
    <p>You can also control the conversion event programatically using our API.</p>
    <p>We're happy to give more examples of how this works on our demo.</p>
  </div>
</div>
<div class="onboarding-box">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>


  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "btn btn-lg btn-info" %>
      </div>
    <% end %>

    <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn" %></p>
  </div>
    <div class="panel-footer">
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
