<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <%= link_to 'DrivingQ', root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
         <li> <%= link_to "Account", edit_user_registration_path, class: "navbar-brand" %></li>
         <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-brand" %></li>
         <li class: "navbar-brand"><!-- ACTIONWINS -->
         <div ng-app="f751207290374958b52d24dfa6a6568eApp" ng-controller="f751207290374958b52d24dfa6a6568eController">
           <div ng-click="open()" style="color:blue">Refer A Friend</div>
           <script type="text/ng-template" id="actionwins-referral-modal">
           <style>
             .text-center {
               text-align: center;
             }
             .share-link {
               width: 155px;
               border: .5px;
               border-style: solid;
               margin: 0 auto;
             }
             .share-modal {
               display: block;
               background-color: #ffffff;
               padding: 15px 20px 20px 20px;
               border-color: #e7eaec;
               border-style: solid solid none;
               border-width: 1px 0;
               font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
               background-color: #2f4050;
               font-size: 13px;
               overflow-x: hidden;
               font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
               line-height: 1.42857143;
               background-color: #fff;
               font-family: sans-serif;
             }
           </style>
             <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
         <html><body>
         <div id="referral_campaign_id" value="f751207290374958b52d24dfa6a6568e"></div>
                   <div id="advocate" value="<%= current_user.email rescue nil %>"></div>
                   <div class="share-modal text-center">
                   <div style="background-color: #44b8aa" class="share-modal text-center back-change">
                     <h2 style="color: #e30547" class="text-change ng-binding">Refer-A-Friend</h2>
                       <p style="color: #1ddec7" class="text-change2 ng-binding">Earn $50 Credit For Your DrivingQ Account!!</p>
                       <!-- Share Buttons Should Match Button Color -->
                       <p>
                       <a id="fb_share_link" title="Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{share_link}}"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span></a>
                       <a id="twt_share_link" title="Twitter" href="http://twitter.com/share?text={{campaign_name}}" data-url="{{share_link}}" data-count="horizontal"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></a>

                       <a id="linkedin_share_link" title="Linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{share_link}}&amp;title={{campaign_name}}&amp;source=ActionWins"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x"></i></span></a>

                         <a title="E-mail" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i ng-click="toggleEmail()" id="email-click" class="fa fa-envelope fa-stack-1x"></i></span></a>
                       </p>
                       <div id="aw_share_link" class="share-link">{{share_link}}{{share_link.length &gt; 10 ? '...' : ''}}</div>
                       <div ng-init="emailState = false" ng-show="emailState" class="email-send" style="display: block;">
                         <div class="form-group">
                           <p><strong>Enter Email Address</strong> </p>
                           <input id="aw-referral-email" type="email" name="email" class="form-control" placeholder="friend@example.com">
                         </div>
                         <div class="form-group">
                           <p><strong>Email Subject</strong> </p>
                           <input id="aw-referral-subject" type="text" name="subject" class="form-control" placeholder="Checkout out this awesome product!">
                         </div>
                         <div class="form-group">
                           <label>Email Body </label>
                           <input id="aw-referral-body" type="text" name="body" class="form-control" placeholder="Help me get $50 bucks credit by signing up!!">
                         </div>
                         <button type="Send Email" value="send" name="sub" class="button-change button-text-change btn">Send Email</button>
                       </div>
                       <br>
                       <p>You've referred <span ng-bind="ref_count" class="ng-binding"></span> friends</p>
                       <!--
                       </br>
                       <div class="row modaltype1 reward-row text-center">
                         <div class="col-sm-3">
                           <div class="reward"> 1 </div>
                           <p>Reward Name</p>
                         </div>
                         <div class="col-sm-3">
                           <div class="reward"> 5 </div>
                           <p>Reward Name</p>
                         </div>
                         <div class="col-sm-3">
                           <div class="reward"> 10 </div>
                           <p>Reward Name</p>
                         </div>
                         <div class="col-sm-3">
                           <div class="reward"> 22 </div>
                           <p>Reward Name</p>
                         </div>
                       </div>
                       <div class="row modaltype2 reward-row text-center">
                         <div class="col-sm-12">
                           <div class="reward"> 1 </div>
                           <p>Reward Name</p>
                         </div>
                       </div> -->
                   </div> <!-- background color -->
                   </div> <!-- share modal text-center -->
                   </body></html>

           </script>

         </div>

         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/css/ngDialog.min.css" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/css/ngDialog-theme-default.min.css"/>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/css/ngDialog-theme-plain.min.css"/>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
         <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
         <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/js/ngDialog.min.js"></script>
         <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

         <script type="text/javascript">
           var ACTIONWINS_App = angular.module("f751207290374958b52d24dfa6a6568eApp", ['ngDialog']);
           ACTIONWINS_App.controller("f751207290374958b52d24dfa6a6568eController", function ($scope, ngDialog, $http) {

             $scope.campaign_name = 'My First Demo Campaign';
             $scope.campaign_id = 'f751207290374958b52d24dfa6a6568e';

             $scope.get_share_link = function() {
               var myscript = document.querySelector('#actionwins-referral-modal');
               var new_element = document.createElement('html');
               new_element.innerHTML = myscript.innerHTML;
               var email = new_element.querySelector('#advocate').getAttribute('value');

               if (typeof email !== "undefined") {
                 $http({
                   method: 'GET',
                   url: 'https://sandbox.api.actionwins.co/sharelink?email=' + email + '&campaign_id=' + $scope.campaign_id
                 }).then(function successCallback(response) {
                   if (typeof response.data !== "undefined") {
                     if (response.data === "") {
                       // probably, this is because the email in question isn't an advocate for
                       // this campaign; send an explicit opt-in for the email and campaign id
                       // to create an advocate, getting the share link that comes back when
                       // explicitly doing opt-in.  this is our one-time best effort for this case.
                       $http({
                         method: 'GET',
                         url: 'https://sandbox.api.actionwins.co/optin?email=' + email + '&campaign_id=' + $scope.campaign_id
                       }).then(function successCallback(response1) {
                         if (typeof response1.data !== "undefined") {
                           $scope.share_link = response1.data;
                         }
                       }, function errorCallback(response1) {
                         $scope.share_link = "https://actionwins.co";
                       });
                     } else {
                       $scope.share_link = response.data;
                     }
                   } else {
                     $scope.share_link = "https://actionwins.co";
                   }
                 }, function errorCallback(response) {
                   $scope.share_link = "https://actionwins.co";
                 });
               };
             };

             $scope.get_referral_count = function() {
               var myscript = document.querySelector('#actionwins-referral-modal');
               var new_element = document.createElement('html');
               new_element.innerHTML = myscript.innerHTML;
               var email = new_element.querySelector('#advocate').getAttribute('value');

               if (typeof email !== "undefined") {
                 $http({
                   method: 'GET',
                   url: 'https://sandbox.api.actionwins.co/ref_count?email=' + email + '&campaign_id=' + $scope.campaign_id
                 }).then(function successCallback(response) {
                   if (typeof response.data !== "undefined") {
                     $scope.ref_count = response.data;
                   } else {
                     $scope.ref_count = 0;
                   }
                 }, function errorCallback(response) {
                   $scope.ref_count = 0;
                 });
               };
             };

             $scope.open = function() {
               var new_dialog = ngDialog.open({
                 id: 'action-wins-dialog',
                 template: 'actionwins-referral-modal',
                 controller: "f751207290374958b52d24dfa6a6568eController",
                 scope: $scope
               });
             };

             $scope.toggleEmail = function() {
               $scope.emailState = !$scope.emailState;
             };

             angular.element(document).ready(function () {
               $scope.get_share_link();
               $scope.get_referral_count();
             });

           });
         </script>
         <!-- /ACTIONWINS -->
</li>
         <% else %>
         <li class="hide"><%= link_to user_omniauth_authorize_path(:twitter) do %>
                <img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-link.png">
              <% end %>
          </li>

           <li>
             <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "navbar-brand" %>
          </li>
         <li><%= link_to "Sign up", new_user_registration_path, class: "navbar-brand" %></li>
         <li><%= link_to "Log in", new_user_session_path, class: "navbar-brand" %></li>
         <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
